includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 2
    paths:
        - app
        - database
        - routes
        - tests

    excludePaths:
        - vendor/*
        - storage/*
        - bootstrap/cache/*
        - node_modules/*

    # Removed invalid 'checkMissingIterableValueType'
    inferPrivatePropertyTypeFromConstructor: true
